@import "/src/styles/globals.scss";

.wrapper {
  margin: 20px;
  .newProducts {
    position: relative;
    margin: auto;
    max-width: 1220px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
  }
}
