@import "/styles/globals.scss";

.banner {
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    h2 {
      font-size: 2rem;
      color: $black;
      margin-bottom: 2rem;
    }
  }
}
