@import "/src/styles/globals.scss";

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  background-color: $light-blue;
  .logo {
    margin-top: 20px;
    color: $dark-grey;
  }

  .nav {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    .link {
      color: $dark-grey;
    }
  }
  .copyright {
    color: $grey;
    margin-bottom: 20px;
  }
}
